* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MullerRegular;
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}

body {
    font-family: MullerRegular, sans-serif;
}

.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 14px 1px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul {
    width: 489px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu-option a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(164, 107, 0);
    line-height: 1.2;
}

.main {
    padding-top: 132px;
    padding-bottom: 81px;
}
.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}
.advantages-info{
    max-width: 620px;
 }
.advantages-info h1 {
    font-size: 45px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(185, 145, 80);
    padding-bottom: 13px;
}

.advantages-info h1 span {
    color: #ffaf18;
}

.advantages-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 622px;
}

.advantage {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.advantage-text {
    max-width: 215px;
    margin-left: 16px;
    margin-right: 10px;

}

.advantage-title {
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    font-weight: bold;
    text-transform: uppercase;

}

.advantage-description {
    font-size: 16px;
    font-family: "Muller", sans-serif;
    color: rgb(185, 145, 80);
    line-height: 1;
}

.main-action {
    margin-top: 60px;
}

.btn {
    background-color: rgb(255, 175, 24);
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    border: none;
    box-sizing: border-box;
    padding: 22px 52px 22px 54px;
    cursor: pointer;
}
/*.advantages-image{*/
/*    width: 520px;*/
/*}*/
/*.advantages-image img{*/
/*    width: 100%;*/
/*}*/

.product-con {
    padding-top: 40px;
}

.product-con h2 {
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
    margin-bottom: 59px;
}

.products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    text-align: center;
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 14px 1px rgba(152, 152, 152, 0.2);
    padding-bottom: 15px;
    padding-top: 27px;
    margin-bottom: 24px;
}

.product-image {
    margin-bottom: 15px;
}

.product-info {
    max-width: 230px;
}

.product-info-title {
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    margin-bottom: 14px;
}

.product-info-description {
    font-size: 14px;
    font-family: Muller, sans-serif;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    text-align: center;
    margin-bottom: 15px;
}

.product-action .btn {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: rgb(255, 175, 24);
    width: 242px;
    height: 50px;
}

.order {
    padding-top: 120px;
    margin-bottom: 115px;
    overflow: hidden;
}

.order .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.order-text {
    max-width: 384px;
}

.order-text-title {
    font-size: 35px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    font-weight: bold;
    margin-bottom: 65px;
}

.order-text-title span {
    color: #ffaf18;
}

.order-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
}

.order-form {
    margin-left: 122px;
    max-width: 330px;
}

.order-form .order-input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 330px;
    height: 60px;
    font-size: 18px;
    color: rgb(171, 125, 57);
    padding: 23px 22px 24px 22px;
    margin-bottom: 24px;
    box-sizing: border-box;
    outline: none;
}

.order-input::placeholder {
    color: rgb(203, 168, 110);

}

.order-form .btn {
    width: 330px;
    height: 60px;
}
.order-image{
    margin-left: 78px;
    width: 282px;
    position: relative;
}
.order-image img{
    position: absolute;
    bottom: -35px;
    left: 0;

}

footer {
    padding: 16px 0 15px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 14px 1px rgba(152, 152, 152, 0.2);
}

.footer .container {
    display: flex;
    align-items: center;

}

.footer .logo {

}

.rights {
    font-size: 12px;
    font-family: Muller, sans-serif;
    color: rgb(186, 179, 179);
    line-height: 1.2;
    margin-left: 359px;
}